Source: php
Section: unknown
Priority: extra
Maintainer: root <seagoj@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libgpg-error0, pkg-config, libpcre3, libcurl4-gnutls-dev, libldap-2.4-2, libxml2-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/php.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/php.git;a=summary

Package: php
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
